#container {}

#artistHeader {
    width: 1230px;
    margin: 0 auto;
    margin-top: 75px;
}

#text-noUpcomingEvents {
    width: 1230px;
    margin: 0 auto;
    text-align: center;
    margin-top: 190px;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #A0A0A0;
}

#artistImage,
#textRightOfImage {
    display: inline-block;
    vertical-align: middle;
}

img {
    display: block;
    height: 125px;
    width: 125px;
    border-radius: 5px;
}

#artistName {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #00b4b3;
}

#text-upcomingEvents {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

tr {
    height: 130px;
    border-bottom: 3px solid #D9D9D9;
}

td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#eventsTable {
    width: 1230px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 60px;
}

#monthDate {
    color: #00b4b3;
    font-weight: bold;
    font-size: 23px;
    width: 130px;
    text-align: center;
}

#venueName {
    font-weight: bold;
    font-size: 20px;
    width: 500px;
}

#venueName span {
    padding-left: 80px;
}

#venueLocation {
    font-size: 20px;
    width: 350px;
}

#venueLocation span {
    font-size: 20px;
    width: 350px;
    padding-left: 60px;
}

#ticketsButtonCell {
    text-align: center;
    width: 210px;
}

#ticketsButton {
    color: #00b4b3;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    border: 2px solid #00b4b3;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 6px;
}

#ticketsButton:hover {
    color: white;
    background-color: #00b4b3
}

#doNotDisplayTicket {
    display: none;
}


@media (max-width: 1080px) {
    #artistHeader {
        width: 630px;
        margin-top: 30px;
        margin-bottom: 0;
    }

    #text-noUpcomingEvents {
        width: 630px;
        text-align: center;
        margin-top: 190px;
        font-size: 29px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #A0A0A0;
    }

    img {
        display: block;
        height: 85px;
        width: 85px;
        margin-left: 20px;
    }

    #artistName {
        font-size: 22px;
    }

    #text-upcomingEvents {
        font-size: 22px;
    }

    tr {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 140px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    td {
        flex: 0 0 100%;
        box-sizing: border-box;
    }

    #eventsTable {
        width: 630px;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    #monthDate {
        order: 1;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    #venueName {
        order: 2;
        font-size: 16px;
        width: 100%;
        flex: 0 0 70%;
        text-align: left;
        padding-left: 20px;
    }

    #venueName span {
        padding-left: 0;
    }

    #venueLocation {
        text-align: left;
        font-size: 16px;
        padding-left: 20px;
    }

    #venueLocation span {
        padding-left: 0;
        font-size: 16px;
    }

    #ticketsButtonCell {
        order: 3;
        flex: 0 0 30%;
        width: 100%;
        text-align: right;
        padding-right: 20px;
    }

    #ticketsButton {
        font-size: 16px;
        border: 2px solid #00b4b3;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 23px;
        padding-right: 23px;
        border-radius: 6px;
    }

    #venueLocation {
        order: 4;
        width: 100%;
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    body {
        margin: 0;
        padding: 0;
    }

    #eventsTable {
        width: 100%;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    #artistHeader {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }

    #text-noUpcomingEvents {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 150px;
        font-size: 24px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #A0A0A0;
    }
}